<% provide(:title, "管理者用設定") %>
<div class="row">
  <div class="col-md-6">
    <h3>店舗追加</h3>
    <%= bootstrap_form_for @store do |f| %>
      <div class="add-store-field">
        <%= f.label :追加する店舗名を入力してください %><br />
        <%= f.text_field :storename, hide_label: true %>
      </div>
      <%= f.submit "追加", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h3>追加済み店舗一覧</h3>
    <div>
      <table class="table-bordered table-striped table-responsive common-table">
        <tr>
          <th>店舗名</th>
        </tr>
        <% @stores.each do |store| %>
          <tr class="stores">
            <td><%= store.storename%></td>
            <td><%= link_to "削除", store, method: :delete, style: "color:red;", data: { confirm: "警告：店舗を削除すると、紐付いているシフトも削除されます。\nこの操作は取り消せません。\n「#{store.storename}」を削除してもよろしいですか？"}%></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6">
    <h3>シフト申請項目追加</h3>
    <%= bootstrap_form_for @schedule_checkbox do |f| %>
      <div class="add-schedule_checkbox-field">
        <%= f.label :追加するシフト勤務時間帯を入力してください %><br />
        <%= f.text_field :name_for_checkbox, hide_label: true %>
      </div>
      <%= f.submit "追加", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h3>追加済みシフト申請項目一覧</h3>
    <div>
      <table class="table-bordered table-striped table-responsive common-table">
        <tr>
          <th>項目名</th>
        </tr>
        <% @schedule_checkboxes.each do |schedule_checkbox| %>
          <tr class="schedule_checkboxes">
            <td><%= schedule_checkbox.name_for_checkbox%></td>
            <td><%= link_to "削除", schedule_checkbox, method: :delete, data: { confirm: "警告：シフト申請項目「#{schedule_checkbox.name_for_checkbox}」を削除します。\nこの操作は取り消せません。\n削除してもよろしいですか？"}%></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6">
    <h3>ユーザ情報編集</h3>
    <%= search_form_for @users_search, url: users_adminsettings_path do |f| %>

      <%= f.label :id_eq, "ユーザ名"%>
      <%= f.collection_select :id_eq, @users, :id, :username, {include_blank: true} %>
      <br>

      <%= f.label :id_eq, "勤務時間帯"%>
      <%= f.select :duty_hours_eq, [['',nil],['指定なし',0],['朝勤',1],['昼勤',2],['夕勤',3],['夜勤',4],['店長クラス',5]] %>
      <br>

      <%= f.label :admin_eq, "権限"%>
      <%= f.select :admin_eq, [['',nil],['管理者',true],['一般',false]] %>
      <br>

      <div class="actions ransack-submit"><%= f.submit "検索" %></div>
    <% end %>
  </div>
  <div class="col-md-6">
    <% if @check.present? %>
      <div>
        <table class="table-bordered table-striped table-responsive common-table">
          <tr>
            <th><%= sort_link(@users_search, :username, "ユーザ名") %></th>
            <th><%= sort_link(@users_search, :duty_hours, "勤務時間帯") %></th>
            <th><%= sort_link(@users_search, :admin, "権限") %></th>
            <th><%= sort_link(@users_search, :confirmed_at, "ログイン許可") %></th>
            <th><%= sort_link(@users_search, :created_at, "登録日時") %></th>
          </tr>
          <% @users.each do |user| %>
            <tr class="users_<%= user.id %>">
              <%= render partial: "users/users_table", locals: { user: user} %>
            </tr>
          <% end %>
          <%= paginate @users %>
        </table>
      </div>
    <% else %>
      <p>
        検索したユーザを表示します。<br>
        未指定は全検索になります。
      </p>
    <% end %>
  </div>
</div>
