<%# 日付　1-月末　部分%>
<tr>
    <th><%= @beginningday.strftime("%Y/%m").to_s %></th>
  <% @beginningtoendday.each do |day| %>
    <th><%= day.strftime("%d").to_s %></th>
  <% end %>
</tr>
<tr>
    <th>曜日</th>
  <% @beginningtoendday.each do |day| %>
    <th><%= day.strftime("%a").to_s %></th>
  <% end %>
</tr>

<% @users.each do |user| %>
  <tr>
    <th><%= user.username %></th>
    <% @beginningtoendday.each do |day| %>
        <td>
          <%= schedule_pick(user.id, day) %>
        </td>
    <% end %>
  </tr>
<% end %>


