<div class="modal-dialog" role="document">
  <div class="modal-content">
    <%= form_with(model: @schedule,url: "/schedules/#{@schedule.id}/update_to_edit_schedule", local: true) do |form| %>
      <% if @schedule.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>
          <ul>
          <% @schedule.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= form.hidden_field :id %>

      <%= form.label :request_timezone %>
      <%= form.text_field :request_timezone %>

      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>
