<%if false%><td><%= schedule.user.username%></td><%end%>
<td><%= schedule.store.storename%></td>
<td><%= schedule.request_day%></td>
<td> 
  <%#　スケジュールSTARTとENDどちらかが空白ならPOSTできないようにする。Modelで制御？ %>
  <% unless schedule.request_timezone.nil? %>
    <%= schedule.request_timezone %>
  <% end %>
  <%# start or end time is not blank, then indicate value %>
  <% unless schedule.request_start_time == "" || schedule.request_end_time == "" %>
    <%= schedule.request_start_time %>-<%= schedule.request_end_time %>
  <% end %>
</td>
<td>
  <% if schedule.approved == false %>
    <div class="not-approved">未承認</div>
  <% else %>
    承認済
  <% end %>
</td>
<td>
  <% if schedule.approved == false %>
    <%= link_to "削除", schedule, method: :delete, remote: true, data: { confirm: "以下のシフトを削除します。\n店舗：#{schedule.store.storename}\n申請日：#{schedule.request_day}"} %>
  <% end %>
</td>
