<% if current_user.admin? %>
  <td><%= schedule.user.username%></td>
<% end %>
<td><%= schedule.store.storename%></td>
<td><%= schedule.request_day.strftime("%y/%m/%d").to_s %></td>
<td>
  <%# スケジュールSTARTとENDどちらかが空白ならPOSTできないようにする。Modelで制御？ %>
  <% unless schedule.request_timezone.nil? %>
    <%= schedule.request_timezone %>
  <% end %>
</td>
<td>
  <% unless schedule.original_request_timezone.nil? %>
    <%= schedule.original_request_timezone %>
  <% end %>
</td>
<td>
  <% if schedule.approved == false %>
    <div class="not-approved">未</div>
  <% else %>
    <div class="approved">済</div>
  <% end %>
</td>
<td>
  <% if schedule.approved == false %>
    <%= link_to "削除", schedule, method: :delete, remote: true, data: { confirm: "以下のシフトを削除します。\nユーザ：#{schedule.user.username}\n店舗：#{schedule.store.storename}\n申請日：#{schedule.request_day}\n申請内容：#{schedule.request_timezone}"} %>
  <% end %>
</td>
