//$('.schedules_<%= @schedule.id %>').html("<%= j(render partial: 'schedules/request', locals: {schedule: @schedule}) %>");
//$('.schedules_<%= @schedule.id %>').append(html);
//var data = " "
//  data += "<tr>"
//    data += "<td><%= @schedule.user.username %></td>"
//    data += "<td><%= @schedule.store.storename %></td>"
//    data += "<td><%= @schedule.request_day%></td>"
////    data += "<% unless @schedule.request_timezone.nil? %><%= @schedule.request_timezone %><% end %>"
//    data += "<%= @schedule.request_timezone %>"
////    data += "<% unless @schedule.request_start_time == "" || @schedule.request_end_time == "" %><%= @schedule.request_start_time %>-<%= @schedule.request_end_time %><% end %>"
//    data += "<%= @schedule.request_start_time %>-<%= @schedule.request_end_time %>"
////    data += "<% if @schedule.approved == false %>未承認<% else %>承認済<% end %>"
//    data += "未承認"
////    data += "<%= link_to "削除", @schedule, method: :delete, remote: true %>"
//  data += "</tr>"
//$('.testsch').append(data);
//
//var data = ""
//  data += "<td><%= @schedule.user.username %></td>"
//  data += "<td><%= @schedule.store.storename %></td>"
//  data += "<td><%= @schedule.request_day%></td>"
////  data += "<% unless @schedule.request_timezone.nil? %><%= @schedule.request_timezone %><% end %>"
//  data += "<%= @schedule.request_timezone %>"
////  data += "<% unless @schedule.request_start_time == "" || @schedule.request_end_time == "" %><%= @schedule.request_start_time %>-<%= @schedule.request_end_time %><% end %>"
//  data += "<%= @schedule.request_start_time %>-<%= @schedule.request_end_time %>"
////  data += "<% if @schedule.approved == false %>未承認<% else %>承認済<% end %>"
//  data += "未承認"
//var classdata = <tr class="schedules_<%= schedule.id %>">data</tr>
//$('.schtable').append("<td><%= @schedule.user.username %></td>");
