<% provide(:title, "シフト申請") %>

<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<div class="row">
  <div class="col-md-6">
    <%= form_with model: @requestschedule do |f| %>
      <h3>シフト申請</h3>

      <div class="request-schedule-field">
        <% if current_user.admin? %>
          <%= f.label :ユーザ名 %><br>
          <%= f.collection_select :user_id, @users, :id, :username, {selected: current_user.id} %>
        <% else %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.label :ユーザ名 %>:
          <%= current_user.username %>
        <% end %>
      </div>
      <br>

      <div class="request-schedule-field">
        <%= f.label :シフト申請先店舗 %><br>
        <% if current_user.work_store.blank? %>
          <%= f.collection_select :store_id, Store.all, :id, :storename %>
        <% else %>
          <%= f.collection_select :store_id, Store.all, :id, :storename, {selected: current_user.work_store} %>
        <% end %>
      </div>
      <br>

      <div class="request-schedule-field">
        <%= f.label :シフト申請日 %><br>
        <input multiple="multiple"  name="schedule[request_day][]" id="datepicker" readonly>
      </div>
      <br>

      <div class="request-schedule-field">
        <%= f.label :シフト勤務時間帯 %>
        <% @timezones.each_with_index do |timezone,i| %>
          <% if i % 4 == 0 %><br><% end %>

<%if false%>
          <label for="schedule_request_timezone_<%= timezone.downcase %>">
          <%= timezone %>
          <%#= f.label "request_timezone_#{timezone.downcase}", "#{timezone}" %>
          <%= f.check_box :request_timezone ,{ multiple: true }, timezone , nil %>
          </label>
          &nbsp;&nbsp;&nbsp;
<%end%>

          <span class="timezones-checkbox"><%= timezone %> <%= f.check_box :request_timezone ,{ multiple: true }, timezone , nil %></span>
        <% end %>
      </div>

      <div class="request-schedule-field">
        <% if current_user.admin? %>
          <br>
          <%= f.label :承認可否 %>
          <%= f.radio_button :approved, :true %>
          <%= f.label :approved, "承認", {value: :true, checked: true, style: "display: inline-block;"} %>
          <%= f.radio_button :approved, :false %>
          <%= f.label :approved, "未承認", {value: :false, style: "display: inline-block;"} %>
        <% else %>
          <%= f.hidden_field :approved, :value => false %>
        <% end %>
        <br>
      </div>

      <% if current_user.admin? %>
        <div class="schedule-request-button-area schedule-request-button-area-change-position-admin">
      <% else %>
        <div class="schedule-request-button-area schedule-request-button-area-change-position">
      <% end %>
        <%= f.submit "シフト申請", class: "schedule-request-button btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <div class="col-md-6">
    <h3>その他要望</h3>
    <%= bootstrap_form_with(model: @user, url: "/users/#{@user.id}/update_to_comment", local: true) do |f| %>
      <div class="add-store-field">
        <%= f.label :希望勤務日時、給与、その他要望など %><br />
        <%= f.text_area :comment, hide_label: true, placeholder: "255文字以内で記入して下さい", :size => "40x6" %>
      </div>
      <div class="schedule-request-button-area">
        <%= f.submit "要望更新", class: "btn btn-primary" %>
      </div>
    <% end %>

    <h3>申請済みシフト欄</h3>
      <p>
        条件を指定して検索すると申請済みのシフトが表示されます。<br>
        条件指定なしの場合は全検索となります。
      </p>
    <div>
      <%= search_form_for @schedules_search, url: schedules_requestschedule_path do |f| %>

        <% if current_user.admin? %>
          <%= f.label :id_eq, "ユーザ名"%>
          <%= f.collection_select :user_id_eq, @users, :id, :username, {include_blank: true, selected: current_user.id} %>
        <% else %>
          <%= f.hidden_field :user_id_eq, :value => current_user.id %>
        <% end %>
        <br>
      
        <%= f.label :store_id_eq, "店舗"%>
        <%= f.collection_select :store_id_eq, @stores, :id, :storename, {include_blank: true} %>
        <br>
      
        <%= f.label :request_day_eq, "期間（年月指定）"%>
        <%= raw sprintf(
            f.date_select(
              :request_day_during_year_month,
              discard_day: true,
              include_blank: true,
              use_month_numbers: true,
              date_separator: '%s'),
            '年 ') + '月' %>
        <br>

        <% if current_user.admin? %>
          <%= f.label :request_day_eq, "期間（年月日指定）"%>
          <%= raw sprintf(
              f.date_select(
                :request_day_eq,
                use_month_numbers: true,
                include_blank: true,
                date_separator: '%s'),
              '年 ', '月 ') + '日' %>
          <br>
        <% end %>
      
        <%= f.label :approved_eq, "承認可否"%>
        <%= f.select :approved_eq, [['',nil],['承認済',true],['未承認',false]] %>
        <br>

        <div class="schedule-request-button-area">
          <%= f.submit "検索", class: "btn btn-primary" %>
        </div>
      <% end %>

      <% if @check.present? %>
        <div class='text-nowrap table-responsive'>
          <table class="table-bordered table-striped table-hover common-table">
            <tr>
              <% if current_user.admin? %>
                <th><%= sort_link(@schedules_search, :user_username, "ユーザ名") %></th>
              <% end %>
              <th><%= sort_link(@schedules_search, :store_storename, "店舗") %></th>
              <th><%= sort_link(@schedules_search, :request_day, "申請日") %></th>
              <th><%= sort_link(@schedules_search, :request_timezone, "内容") %></th>
              <th><%= sort_link(@schedules_search, :approved, "承認") %></th>
            </tr>
            <% @schedules.each do |schedule| %>
              <tr class="schedules_<%= schedule.id %>">
                <%= render partial: "schedules/requested_schedules", locals: { schedule: schedule} %>
              </tr>
            <% end %>
            <%= paginate @schedules %>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag 'jquery-ui.multidatespicker.js' %>
<script>
  $(function() {
    var today = new Date();
    $('#datepicker').multiDatesPicker({
      dateFormat: "yy/mm/dd",
	    altField: '#altField',
      minDate: 0,
      multidate: true,
      defaultDate: "0d",
      onSelect: function() {
        // Get the "datepicker" object.
        var datepickerObj = $(this).data("datepicker");
        // Get the "settings" object within "datepicker".
        var datepickerSettings = datepickerObj.settings;
        // Get the last date picked.
        var d = new Date();
        var dayDiff = datepickerObj.selectedDay - d.getDate();
        var monthDiff = datepickerObj.selectedMonth - d.getMonth();
        var yearDiff = datepickerObj.selectedYear - d.getFullYear();
        var pickedDate =
          "+" + dayDiff + "d +" + monthDiff + "m +" + yearDiff + "y";
        // Remove previous "defaultDate" property.
        delete datepickerSettings["defaultDate"];
        // Add a new defaultDate property : value.
        datepickerSettings.defaultDate = pickedDate;
        // Avoid having to click twice on prev/next month.
        $("#datepicker").blur();
        setTimeout(function() {
          $("#datepicker").focus();
        }, 1); // 1 millisecond delay seems to be enought!!!
      }
    });
  });
</script>
