<% provide(:title, "シフト申請") %>

<div class="row">
  <div class="col-md-6">
    <%# form_with model: @requestschedule, local: true  do |f| %>
    <%= form_with model: @requestschedule do |f| %>
    <%#formwith完成形はremote trueにしてAjax処理にする form_with model: @requestschedule do |f| %>
      <h3>シフト申請</h3>
      <div class="request-schedule-field">
        <%= f.label :シフト申請先店舗 %><br>
        <%= f.collection_select :store_id, Store.all, :id, :storename %>
      </div>
      <div class="request-schedule-field">
        <%= f.label :シフト申請日 %><br>
        <%= raw sprintf(
            f.date_select(
              :request_day,
              use_month_numbers: true,
              date_separator: '%s'),
            '年 ', '月 ') + '日' %>
      </div>
      <div class="request-schedule-field">
        <%= f.label :シフト勤務時間帯 %><br>
        <%# ★Aとかの右の時間枠の部分は別枠に移動する？店舗ごとに差異があるので %>
        <% @timezones.each do |timezone| %>
          <% if timezone == "E0"%>
            <br>
            <span class="timezones-checkbox"><%= timezone %> <%= f.check_box :request_timezone ,{ multiple: true }, timezone , nil %></span>
          <% else %>
            <span class="timezones-checkbox"><%= timezone %> <%= f.check_box :request_timezone ,{ multiple: true }, timezone , nil %></span>
          <% end %>
        <% end %>
      </div>
      <div class="request-schedule-field">
        <%= f.label :２４時間指定 %><br>
        <%= f.select :request_start_time, @timehours, {include_blank: true} %>時〜
        <%= f.select :request_end_time  , @timehours, {include_blank: true} %>時
      </div>

      <%= f.submit "シフト申請", class: "schedule-request-button btn btn-primary" %>
    <% end %>
  </div>

<%#if false%>
  <div class="col-md-6">
    <h3>申請済みシフト欄</h3>
      <p>
        条件を指定して検索すると申請済みのシフトが表示されます。<br>
        条件指定なしの場合は全検索となります。
      </p>
    <div>
      <%= search_form_for @schedules_search, url: schedules_requestschedule_path do |f| %>

        <%= f.hidden_field :user_id_eq, :value => current_user.id %>
      
        <%= f.label :store_id_eq, "店舗"%>
        <%= f.collection_select :store_id_eq, @stores, :id, :storename, {include_blank: true} %>
        <br>
      
        <%= f.label :request_day, "期間"%>
        <%= raw sprintf(
            f.date_select(
              :request_day_during_year_month,
              discard_day: true,
              include_blank: true,
              use_month_numbers: true,
              date_separator: '%s'),
            '年 ') + '月' %>
        <br>
      
        <%= f.label :approved_eq, "承認可否"%>
        <%= f.select :approved_eq, [['',nil],['承認済',true],['未承認',false]] %>
        <br>

        <div class="actions ransack-submit"><%= f.submit "検索" %></div>
      <% end %>
      <table class="table-bordered table-striped table-responsive common-table">
        <tr>
          <th>店舗</th>
          <th>申請日</th>
          <th>時間</th>
          <th>承認</th>
        </tr>
        <% @schedules.each do |schedule| %>
          <tr class="schedules_<%= schedule.id %>">
            <%= render partial: "schedules/request", locals: { schedule: schedule} %>
          </tr>
        <% end %>
        <%= paginate @schedules %>
      </table>
    </div>
  </div>
</div>
<%# end %>
