<% provide(:title, "スケジュール一覧") %>

<%if false%>
  <% @users.each do |aaa| %>
    <p><%= aaa.user.username %></p>
  <%end%>
<%end%>

<%= search_form_for @schedules_search, url: schedules_workschedule_path do |f| %>

  <%= f.label :store_id_eq, "店舗"%>
  <%= f.collection_select :store_id_eq, @stores, :id, :storename %>

  <%= f.label :request_day, "年月"%>
  <%= f.date_select :request_day_during_year_month, discard_day: true %>

  <div class="actions"><%= f.submit "検索" %></div>
<% end %>

<% if @check.present? %>
  <table class="calender-table table-bordered table-striped table-responsive">
    <%= render partial: "schedules/calender" %>
  </table>
<% else %>
  <p>表示したい店舗と年月を指定して下さい。</p>
<% end %>
