<% provide(:title, "スケジュール一覧") %>

<div class="row">
  <div class="col-md-12">
    <%= search_form_for @users_and_schedules_search, url: schedules_workschedule_path do |f| %>
      <%= f.label :store_id_eq, "店舗"%>
      <%= f.collection_select :schedules_store_id_eq, @stores, :id, :storename, {selected: current_user.work_store} %>

      <br>
      <%= f.label :request_day, "期間"%>
      <%= raw sprintf(
          f.date_select(
            :schedules_request_day_during_year_month,
            discard_day: true,
            use_month_numbers: true,
            date_separator: '%s'),
          '年 ') + '月' %>

      <%# 承認済のみ絞り込むようにすることで、完成済みスケジュールのみ表示、未承認シフトは一般ユーザから見れないようにする。%>
      <%= f.hidden_field :schedules_approved_eq, :value => true %>

      <div class="actions ransack-submit"><%= f.submit "検索" %></div>
    <% end %>

    <% if @check.present? %>
      <div class='text-nowrap table-responsive'>
        <table class="table-bordered table-striped table-hover calender-table table-fixed">
          <%= render partial: "shared/calender_storename_datepart" %>
          <%# 個人ごとにシフトスケジュールを表示%>
          <% @users_and_schedules.each do |user_and_schedules| %>
            <tr>
              <%#勤務時間帯ごとにCSSでBackgroundColorを付与%>
              <% if user_and_schedules.duty_hours == 0 %><th class="no-settings"><%= user_and_schedules.username %></th><% end %>
              <% if user_and_schedules.duty_hours == 1 %><th class="morning"    ><%= user_and_schedules.username %></th><% end %>
              <% if user_and_schedules.duty_hours == 2 %><th class="noon"       ><%= user_and_schedules.username %></th><% end %>
              <% if user_and_schedules.duty_hours == 3 %><th class="evening"    ><%= user_and_schedules.username %></th><% end %>
              <% if user_and_schedules.duty_hours == 4 %><th class="night"      ><%= user_and_schedules.username %></th><% end %>
              <% if user_and_schedules.duty_hours == 5 %><th class="manager"    ><%= user_and_schedules.username %></th><% end %>
              <% @beginningtoendday.each do |day| %>
                  <td>
                    <% user_and_schedules.schedules.each do |schedule| %>
                      <% if day == schedule.request_day && user_and_schedules.id == schedule.user_id %>
                        <%#申請シフトが未承認だったらCSSでColor付与する%>
                        <% if schedule.approved == true %><div class="approved"><% else %><div class="not-approved"><% end %>
                          <%= schedule.request_timezone %>
                        </div>
                      <% end %>
                    <% end %>
                  </td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>

      <button class="btn btn-primary" type="button" onclick="screenshot_function()">
        全体スクリーンショット
        <br>
        ( PCのみ使用可 )
        <br>
        対応ブラウザ
        <br>
        Google Chrome
        <br>
        Microsoft Edge
      </button>

    <% else %>
      <p>表示したい店舗と期間を検索して下さい。</p>
    <% end %>
  </div>
</div>

<script>
  const screenshot_function = () => {
    (() => {
      const src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"
      const sc = document.createElement("script")
      sc.type="text/javascript"
      sc.src=src
      sc.onload = () => {
        html2canvas(document.body, {
          onrendered: (canvas) => {
            const imgageData = canvas.toDataURL("image/png")
            const newData = imgageData.replace(/^data:image\/png/, "data:application/octet-stream")
            const element = document.createElement('a')
            element.setAttribute('href', newData)
            element.setAttribute('download', 'screen.png')
            element.style.display = 'none'
            document.body.appendChild(element)
            element.click()
            document.body.removeChild(element)
          }
        })
      }
      document.body.appendChild(sc)
    })()
  }
</script>