<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site-menu">
        <i class="menuicon fas fa-bars"></i>
      </button> 
      <%= link_to "勤怠管理", root_path, id: "logo", class: "navbar-brand"%>
    </div>
    <div class="collapse navbar-collapse" id="site-menu">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to current_user.username,edit_user_registration_path %></li>
          <li><%= link_to "スケジュール一覧",schedules_workschedule_path %></li>
          <li><%= link_to "シフト申請",     schedules_requestschedule_path %></li>
          <% if current_user.admin? %>
            <li><%= link_to "シフト承認",     schedules_approveschedule_path %><%# only admin%></li>
            <li><%= link_to "管理者用設定",   users_adminsettings_path %><%# only superadmin%></li>
          <% end %>
          <li><%= link_to "ログアウト", destroy_user_session_path,method: :delete %></li>
        <% else %>
          <li><%= link_to "ログイン", new_user_session_path %></li>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
