<% provide(:title, "シフト承認") %>
<div class="row">
  <div class="col-md-6">
    <p>店舗選択</p>
    <p>従業員選択</p>
    <p>年月日選択</p>
    <p>承認者選択（admin権限ユーザ選択）</p>
  </div>
  <div class="col-md-6">
    <h3>申請されたシフト欄</h3>
    <div>
      <table class="table-bordered table-striped table-responsive">
        <tr>
          <th>申請者</th>
          <th>店舗</th>
          <th>申請日</th>
          <th>申請時間帯</th>
          <th>承認可否</th>
          <th>承認可否CHK</th>
        </tr>
        <%= form_for @approveschedules do |f| %>
          <% @schedules.each do |schedule| %>
            <tr class="schedules">
              <td><%= schedule.user.username%></td>
              <td><%= schedule.store.storename%></td>
              <td><%= schedule.request_day%></td>
              <td> 
                <%#　スケジュールSTARTとENDどちらかが空白ならPOSTできないようにする。Modelで制御？ %>
                <% unless schedule.request_timezone.nil? %>
                  <%= schedule.request_timezone %>
                <% end %>
                <%# start or end time is not blank, then indicate value %>
                <% unless schedule.request_start_time == "" || schedule.request_end_time == "" %>
                  <%= schedule.request_start_time %>-
                  <%= schedule.request_end_time %>
                <% end %>
              </td>
              <div id="approve_buttons_<%= schedule.id %>">
                <%= render partial: 'shared/approve', locals: { schedule: schedule} %>
              </div>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>
