<% provide(:title, "スケジュール一覧") %>
<table class="table-bordered table-striped table-responsive">
<%# 日付　1-月末　部分%>
  <tr>
      <th><%= @beginningday.strftime("%Y/%m").to_s %></th>
    <% @beginningtoendday.each do |day| %>
      <th><%= day.strftime("%d").to_s %></th>
    <% end %>
  </tr>
  <tr>
      <th>曜日</th>
    <% @beginningtoendday.each do |day| %>
      <th><%= day.strftime("%a").to_s %></th>
    <% end %>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <th><%= user.username %></th>
      <% @beginningtoendday.each do |day| %>
          <td>
            <%= schedule_pick(user.id, day) %>
          </td>
      <% end %>
    </tr>
  <% end %>

</table>

















<% if false %>
  承認済みのシフトが表示されます
simple_calenderに日付が対応するシフトをぶち込む
store_codeで表示わける
表示はもとシフト表準拠にするか悩む

d = Date.new(2020,6,-1)で月末日を取得できるから、元シフトっぽい実装は可能かと

[Ruby入門] 14. 日付と時刻を扱う（全パターン網羅）
https://qiita.com/prgseek/items/c0fc2ffc8e1736348486

検索要件
・store_code
・year
・month

日付の年や月の範囲で検索したい場合
https://qiita.com/fkm_y/items/f0c4b247fdeffe5544c7

Rails - 月/年をドロップダウン（選択）する - ruby​​-on-rails、html-select
https://living-sun.com/ja/ruby-on-rails/767557-rails-drop-down-select-month-year-ruby-on-rails-html-select.html

【Rails】date_selectタグの使い方メモ
https://qiita.com/ozackiee/items/3c027d07cdeb61df6029
<% end %>