<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | BigwestSchedule</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<% if false %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'true' %>
<% end %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "BIGWEST勤怠管理", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to current_user.username,"#" %></li>
            <% end %>
            <li><%= link_to "スケジュール一覧",pages_workschedule_path %></li>
            <li><%= link_to "シフト申請",     pages_requestschedule_path %></li>
            <li><%= link_to "シフト承認",     pages_approveschedule_path %><%# only admin%></li>
            <li><%= link_to "店舗追加",   pages_addstores_path %><%# only superadmin%></li>
            <li><%= link_to "ログイン", new_user_session_path %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path,method: :delete %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% if false %> #不要？なためコメントアウト
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        <% end %>
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
